#content__grid {
  .clearfix();
}

@media screen and (min-width: 1500px) {
  #content__grid[data-columns]::before {
    content: '3 .column.size-1of3';
  }
}

@media screen and (min-width: 768px) {
  #content__grid {
    margin: 0 -15px;
  }

  .column {
    padding: 0 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1499px) {
  #content__grid[data-columns]::before {
    content: '2 .column.size-1of2';
  }
}

@media screen and (max-width: 767px){
  #content__grid {
    margin: 0 -10px;
  }

  .column {
    padding: 0 10px;
  }

  #content__grid[data-columns]::before {
    content: '1 .column.size-1of1';
  }
}

.column {
  float: left;
}
.size-1of1 { width: 100%; }
.size-1of2 { width: 50%; }
.size-1of3 { width: 33.333%; }
.size-1of4 { width: 25%; }
.size-3of4 { width: 75%; }
.size-1of6 { width: 16.667%; }
.size-2of6 { width: 33.333%; }
.size-3of6 { width: 50%; }
.size-4of6 { width: 66.667%; }
.size-5of6 { width: 83.333%; }
.size-6of6 { width: 100%; }