/* Custom MAE style alert */
.alert--dark {
    .alert-variant(#394650; #394650; @mae-light);
}

.alert--light {
    .alert-variant(@mae-lighter; @mae-lighter; @mae-dark);
}

/* Close Icon */
.alert {
    width: auto;

    .close {
        width: 20px;
        height: 20px;
        background: @close-bg;
        border-radius: 50%;
        .opacity(1);
        line-height: 20px;
        font-size: 14px;
        top: -1px;

        &:hover {
            background: @close-hover-bg;
            color: #fff;
        }
    }
}

.alert--light .close {
    color: @alert-light;
    background: @alert-light-bg;

    &:hover {
        background: @alert-light-hover-bg;
        color: @alert-light-hover;
    }
}

