.tab-nav {
    list-style: none;
    padding: 0;
    white-space: nowrap;
    margin: 0 0 20px;
    overflow: auto;
    //box-shadow: inset 0 -2px 0 0 rgba(255,255,255,0.1);
    width: 100%;
    overflow: visible;
    
    &.outer-tab > li > a {
        text-align: left;
        padding: 5px 25px 0px 10px;
    }
    
    & > li {
        display: inline-block;
        vertical-align: top;
        margin: 0 6px;

        & > a {
            display: block;
            color: @mae-lightest;
            text-transform: uppercase;
            position: relative;
            width: 100%;
            font-weight: 500;

            &, &:after {
                .transition(all);
                .transition-duration(250ms);
            }

            &:after { 
                content: "";
                height: 2px;
                position: absolute;
                width: 100%; 
                left: 0;
                bottom: 0;
                //background: @mae-lighter;
                .scale(0);
            }
            
            @media (min-width: @screen-sm-min) {
                padding: 15px 25px 15px 10px;
            }
            
            @media (max-width: @screen-sm-min) {
                padding: 15px 8px;
            }
        }
        
        &.active {
            & > a { 
                color: @mae-lighter;
                
                &:after {
                    .scale(1);
                }
            } 
        }
    }
}

.tab-nav--light {
    & > li {
        & > a {
            color: #a9bac3;

            &:after {
                background: @mae-darker;
            }

        }

        &.active {
            & > a {
                color: @card-bg;
            }
        }
    }
}

.tab-nav--justified {
    & > li {
        display: table-cell;
        width: 1%;
        text-align: center;
    }
    & > li.tab-button {
        text-align: left;
    }
}

.tab-nav--icon {
    & > li {
        .zmdi {
            font-size: 22px;
            line-height: 100%;
            min-height: 25px;
        }
    }
}

.tab-nav--centered {
    text-align: center;
}

.close-tab-btn {
    position: absolute;
    right: 6px;
    bottom: 50%;
    transform: translateY(50%);
    font-size: 13px;
    font-family: 'Mali', cursive;
    color: #504e4e;
}

.new-tab-btn {
    margin-left: 3px;
    border-radius: 7px;
}

.tab {
    background-color: @tab-color;
    &.active {
        background-color: @active-tab-color;
    }
}

.outer-tab {
    display: inline-block;
    width: 120px;
    li {
        display: block;
        text-align: center;
    }
}

.inner-tab-container {
    width: 50vw;
    display: inline-block;
    & > .tab-pane {
        position: absolute;
        transform: translateY(-55%);
        &.fade {
            z-index: 0;
            &.in {
                z-index: 20;
            }
        }
    }
    
}




